<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

    <title><%= article.title %> | Writer</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <div class="container">
        <div class="row my-5">
            <div class="col-lg-8 mt-4">
                <h1 class='h1'><%= article.title %></h1>
                <br />
                <h5 class="float-sm-left text-secondary"><%= article.author %></h5>
                <span class="float-sm-right text-secondary"><%= article.createdAt %></span><br/><br/>
                <button class="float-sm-right fav btn btn-warning" onclick="">Favourite</button><br />
                <p class="article-body mt-5"> <%= article.body %> </p>
            </div>
            <div class="col-lg-4 my-4">
                <h3 class="mx-2">Suggested Articles</h3>
                
                <div>
                    <% for(var j=0; j<=4;j++) { %>
                        <a href="/article/<%=allArticles[j]._id %>" style="text-decoration: none; color: inherit;">
                            <div class="card article_cards-article my-4 text-white">
                                <img src="/uploads/<%=allArticles[j].coverPic%>" class="bg-img" alt="">
                                <div class="black-overlay"></div>
                                <div class="card-body overlay">
                                    <h5 class="card-title"><%= allArticles[j].title %></h5>
                                </div>
                            </div>
                        </a>
                        <%  } %>
                </div>
            </div>
        </div>

        <div class="comment_section">
            <section class="col-lg-8 post-comment">
                <form action="comment" method="post">
                    <div class="form-group">
                        <h3>Comments</h3>
                        <input type="text" value="<%=article._id%>" name="article_id" hidden>
                        <textarea class="form-control" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </section>
            <section class="read-comments">
                <% for(var i=0;i<=article.comments.length-1;i++) {%>
                <div class="card-body">
                    <h6><%= article.comments[i].author %></h6>
                    <p><%= article.comments[i].comment %></p>
                </div>
                <% } %>
            </section>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>


    <!-- Scripts -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
</body>

</html>